<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>
      <p>Battery: </p>{{statu?.battery_percentage}} % 
      <ion-icon name="battery-full-outline" *ngIf="bateryFull == true"></ion-icon>
      <ion-icon name="battery-half-outline" *ngIf="bateryHalf == true"></ion-icon>
      <ion-icon name="battery-dead-outline" *ngIf="bateryLow == true"></ion-icon>

    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>State: </p>{{statu?.state_text}}
    </ion-label>
  </ion-item>



  <div class="jumbotron">
<button type="button" (click)="callApiStatus()" class="btn-primary col-sm" style="margin-top: 90px; border-radius: 30px; margin-top: 120px; max-width: 150px;">Atualizar</button>
  </div>

  <!-- <app-explore-container></app-explore-container> -->
</ion-content>

<style>
.jumbotron{
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
</style>